<!-- <div style="display:flex; align-items:center; justify-content:center; height:100vh">
  <p-panel header="Security Org Chat Login">

    <div style="display:flex; align-items:center; justify-content:center; flex-direction:column">
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon"><i class="pi pi-user"></i></span> <input type="text" pInputText
          placeholder="Username" />
      </div>

      <br>
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon"><i class="pi pi-lock"></i></span>
        <input type="password" pPassword placeholder="Password" />
      </div>
      <p-button label="Login"></p-button>

    </div>
  </p-panel>
</div> -->

<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>